<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dpcrm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dpcrm.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DPCRM</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$DPCRM</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=dptx.database.windows.net;Initial Catalog=CRMDB;User ID=dpadmin;Password=p3&amp;SHaC{(DH&amp;wW:^;Connect Timeout=30" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CRM.Models.ApplicationDbContext, CRM" MigrationConfiguration="CRM.Migrations.Configuration, CRM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CRM.DataAccess.Models.Context" Order="2" Enabled="True">
          <Destination Path="Data Source=dptx.database.windows.net;Initial Catalog=CRMDB;User ID=dpadmin;Password=p3&amp;SHaC{(DH&amp;wW:^;Connect Timeout=30" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CRM.DataAccess.Models.Context, CRM.DataAccess" MigrationConfiguration="CRM.DataAccess.Migrations.Configuration, CRM.DataAccess" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CRM.DataAccess.Models.Context-Web.config Connection String">
      <ParameterValue>Data Source=dptx.database.windows.net;Initial Catalog=CRMDB;User ID=dpadmin;Password=p3&amp;SHaC{(DH&amp;wW:^;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=dptx.database.windows.net;Initial Catalog=CRMDB;User ID=dpadmin;Password=p3&amp;SHaC{(DH&amp;wW:^;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CRM.DataAccess.Models.Context" />
  </ItemGroup>
</Project>